@font-face {
	font-family: 'Outfit';
	src: url(fonts/Outfit-VariableFont_wght.ttf);
  }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit';
	text-decoration: none;
	list-style: none;
}
body{
	background-color:#F5F5DC;
}
.header{
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
	padding: 35px 12%;
	background: #FFDB58;
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.logo{
	font-size: 25px;
	color: #36454F;
	font-weight: 600;
	transition: 0.3s ease;
}
.logo:hover{
	color: #36454F;
	text-shadow: 0 0 25px #556C7B,
				 0 0 50px #556C7B;
	transform: scale(1, 1);
}
span{
	color: #FFDB58;
	text-shadow: 
                2px 2px 0 #36454F,
               -2px -2px 0 #36454F,
                2px -2px 0 #36454F,
               -2px 2px 0 #36454F,
                2px 0px 0 #36454F,
                0px 2px 0 #36454F,
               -2px 0px 0 #36454F,
                0px -2px 0 #36454F; 
}
.navbar a{
	font-size: 18px;
	color: #36454F;
	font-weight: 500;
	margin: 0 20px;
	border-bottom: 3px solid transparent;
	transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
	color: #36454F;
	border-bottom: 3px solid #36454F;
}
.home{
	width: 100%;
	min-height: 100vh;
	background-color: #F5F5DC;
	display: flex;
	align-items: center;
	gap: 7em;
	padding: 30px 12% 0;
}
.home-content{
	max-width: 800px;
}
.home-content h3{
	font-size: 42px;
	color: #36454F;
}
.home-content h1{
	font-size: 62px;
	line-height: 1.2;
	color: #36454F;
}
.img-circle img{
	border-radius: 50%;
	border: 2px solid #36454F;
}

::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-thumb{
	background-color: #36454F;
}
::-webkit-scrollbar-track{
	background-color: white;
	width: 50px;
}
.about{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12% 8%;
	gap: 10em;
}
.about-img img{
	position: relative;
	border-radius: 50%;
	border: 2px solid #36454F;
}
.about-content h2{
	text-align: left;
	color: #36454F;
	font-size: 42px;
}
.about-content h3{
	font-size: 62px;
	color: #36454F;
}
.about-content p{
	color: #36454F;
	font-size: 20px;
	margin: 2em 0 3em;
}